
//Color Variable
$clr_white: #fff;
$clr_offwhite: rgba(255,255,255,0.8);
$clr_black: #000;
$clr_emperor: #666666;
$clr_yellow: #FFC422;
$clr_catskill: #F9FAFC;
$clr_gray: #888888;
$clr_albastor: #f9f9f9;
$clr_athens: #F3F4F6;
$clr_amber:#FEC107;
$clr_red:#FF3838;
$clr_persian:#00A9A4;
$clr_cod:#111111;
$clr_spring:#F2FBFA;
$clr_rock:#030734;
$clr_stratos:#010647;
$clr_squeeze:#EDF9F9;
$clr_rhino:#282B58;
$clr_bunting:#161942;
$clr_downriver:#0C1148;

//Mixins & Animation CSS
@mixin transition($time) {
    -webkit-transition: $time;
    transition: $time;
}
@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}
%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
%flex_column_center {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
%align_center {
    @extend %flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

%flex_justify_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
/*---------------------------------
        Header CSS 
-----------------------------------*/
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}
.header-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    overflow-x: clip;
    @include transition(0.4s);
    &.sticky {
        position: fixed;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        @include transition(0.4s);
        background: $clr_white;
        -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        width: 100%;
        top: -48px;
        -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1); 
        &.style2{
            .header-bottom{
                background-color: $clr_rock;
                border-color: transparent;
            }
        }
    }
    .header-top {
        padding: 10px 0 13px;
        background-color: $clr_rock;
        .header-top-left{
            .contact-info{
                li{
                    display: inline-block;
                    margin-right: 25px;
                    &:last-child{
                        margin-right: 0;
                    }
                    i{
                       font-size: 14px;
                       line-height: 0.8;
                       color: $clr_persian;
                       position: relative;
                       top: 2px;
                       margin-right: 6px;
                    }
                    a,p{
                        color: $clr_offwhite;
                        font-size: 14px;
                        display: inline-block;
                        margin-bottom: 0;
                        &:hover{
                            color: $clr_white;
                        }
                    }
                }
            }
        }
        .header-top-right {
            @extend %flex;
            @extend %flex_justify_end;
            @extend %align_center;
            .header-top-menu{
                li{
                    display: inline-block;
                    margin-right:15px;
                    padding-right: 15px;
                    position: relative;
                    &:first-child{
                        padding-left: 0;
                        margin-left: 0;
                    }
                    &:before{
                        position: absolute;
                        top: 9px;
                        right: 0;
                        content: "";
                        background-color: rgba(255,255,255,0.6);
                        width: 1px;
                        height: 12px;
                    }
                    a{
                        font-size: 14px;
                        color: $clr_offwhite;
                    }
                }
            }
            .select-lang{
                span{
                    color: $clr_offwhite;
                }
            }
        }
    }
    .header-bottom{
        .searchbox{
            position: relative;
            margin-left: 25px;
            margin-right: 30px;
            input {
                width: 100%;
                border: none;
                padding: 5px 10px 5px 0;
                border-bottom: 1px solid #ddd;
                font-size: 15px;
                background-color: transparent;
            }  
            button {
                position: absolute;
                top: 6px;
                right: 0;
                background-color: transparent;
                width: auto;
                height: auto;
                border: none;
                i{
                    color: $clr_persian;
                }
            }  
        }
    }
    &.style1{
        .header-bottom{
            background:$clr_white;
            .navbar{
                .navbar-nav{
                    .nav-item{
                        a{
                            color: $clr_rock;
                            &.active,
                            &:hover{
                                color: $clr_persian;
                            }
                        }
                        .dropdown-menu {
                            li {
                                a{
                                    color: $clr_emperor;
                                }
                            }
                        }
                    }
                    >.nav-item{
                        >a{
                            &:after{
                               background: $clr_persian;
                            }
                        }
                    }
                }
            }
        }
    }
    &.style2{
        .header-bottom{
            background:transparent;
            border-bottom: 1px solid rgba(255,255,255,0.12);
            .searchbox{
                input {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    background-color: transparent;
                    color: $clr_white;
                }
            }
            .navbar{
                .navbar-nav{
                    .nav-item{
                        a{
                            color: $clr_white;
                            &.active,
                            &:hover{
                                color: $clr_persian;
                            }
                        }
                        .dropdown-menu {
                            li {
                                a{
                                    color: $clr_emperor;
                                    &.active,
                                    &:hover{
                                        color: $clr_persian;
                                    }
                                }
                            }
                        }
                    }
                    >.nav-item{
                        >a{
                            &:after{
                               background: $clr_persian;
                            }
                        }
                    }
                }
            }
        }
    }
}
.search-area {
    position: fixed;
    top: 0;
    left: 50%;
    width: 0%;
    height: 100vh;
    @extend %flex;
    @extend %flex_column_center;
    visibility: hidden;
    background: rgba(0, 169, 164,0.8);
    opacity: 0;
    z-index: 990;
    @include transform(translateX(-50%));
    @include transition(0.4s);
    &.open {
        width: calc(100% + 1px);
        visibility: visible;
        opacity: 1;
    }
    .close-searchbox {
        position: absolute;
        top: 15px;
        right: 10px;
        background: transparent;
        border: none;
        i {
            color: $clr_white;
            font-size: 35px;
            font-weight: 300;
        }
    }
    form{
        width: 100%;
    }
    .form-group {
        width: 100%;
        input {
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            font-size: 20px;
            padding: 20px;
            color: $clr_white;
            &::placeholder {
                color: $clr_white;
                opacity: 1;
            }
        }
    }
}
.select-lang {
    padding-left: 18px;
    position: relative;
    top: 1px;
    i {
        position: absolute;
        top: 4px;
        left: 0;
        font-size: 15px;
        line-height: 1;
        color: $clr_persian;
    }
    .navbar-language {
        .dropdown-toggle {
            background-color: transparent;
            border: none;
            color: $clr_emperor;
            font-size: 14px;
            padding-right: 16px;
            @extend %flex;
            @extend %align_center;
            @include transition(0.3s);
            &:after {
                display: none;
            }
            &:before {
                position: absolute;
                top: 5px;
                right: -3px;
                content: "\EA4E";
                font-family: "remixicon";
                border: 0;
                font-size: 18px;
                line-height: 0.8;
                color: $clr_offwhite;
            }
        }
        .dropdown-menu {
            margin: 0;
            padding: 5px 0;
            -webkit-box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
            box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
            left: auto;
            right: 0;
            inset: 0px 0 auto auto!important;
            border: none;
            border-radius: 0;
            -webkit-transform: translateY(75px) !important;
            transform: translateY(75px) !important;
            display: block;
            opacity: 0;
            pointer-events: none;
            -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear;
            a {
                padding: 5px 10px;
                -webkit-transition: all 0.3s linear;
                transition: all 0.3s linear;
                font-size: 15px;
                img {
                    width: 20px;
                    margin-right: 10px;
                }
            }
            &.show {
                -webkit-transform: translateY(40px) !important;
                transform: translateY(40px) !important;
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand img {
        max-width: 120px;
    }
    .header-wrap{
        &.sticky{
            top: 0;
        }
        &.style1{
            .header-top {
                background-color: $clr_albastor;
                .close-sidebar{
                    i{
                        color: $clr_rock;
                    }
                }
                .header-top-left{
                    .contact-info{
                        li{
                            a,p{
                                color: $clr_rock;
                            }
                        }
                    }
                }
                .header-top-right{
                    .header-top-menu{
                        li{
                            &:before{
                                background-color: $clr_rock;
                            }
                            a{
                                color: $clr_rock;
                            }
                        }
                    }
                    .select-lang {
                        span{
                            color: $clr_rock;
                        }
                        .navbar-language {
                            .dropdown-toggle{
                                &:before{
                                    color: $clr_rock;
                                }
                            }
                            .dropdown-menu {
                                inset: 0px auto auto 0 !important;
                            }
                        }
                    }
                }
            }
        }
        .header-top {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            padding:40px 10px 10px;
            background:$clr_white;
            z-index: 1;
            @include transition(0.4s);
            &.open{
                left: 0;
            }
            .close-sidebar{
                position: absolute;
                top: 10px;
                right: 10px;
                background:transparent;
                border: none;
                cursor: pointer;
                i{
                    color: $clr_white;
                    font-size: 24px;
                }
            }
            .header-top-left{
                text-align: left;
                margin-bottom: 15px;
                .contact-info{
                    li{
                        display: block;
                        margin: 0 0 10px 0;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        a,p{
                            color: $clr_rock;
                        }
                    }
                }
            }
            .header-top-right{
                justify-content: flex-start;
                .header-top-menu{
                    width: 100%;
                    li{
                        &:last-child{
                            &:before{
                                display: none;
                            }
                        }
                        a{
                            color: $clr_rock;
                        }
                    }
                }
                .select-lang {
                    color: $clr_rock;
                    margin-left: 0;
                    margin-top: 20px;
                    .navbar-language {
                        .dropdown-menu {
                            inset: 0px auto auto 0 !important;
                        }
                    }
                }
            }
        }
        .mobile-sidebar{
            position: relative;
            top: -3px;
            display: inline-block;
            line-height: 1;
            cursor: pointer;
            i{
                font-size: 24px;
                color: $clr_persian;
            }
        }
    }
}
@media only screen and (min-width: 768px){
    .close-sidebar,
    .mobile-sidebar{
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-wrap{
        &.sticky {
            top: -87px;
        }
        .header-top{
            .header-top-left{
                text-align: center;
                margin-bottom: 15px;
            }
            .header-top-right{
                justify-content: center;
            }
            .header-top-left,
            .header-top-right{
                justify-content: center;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu {
        height: 100vh;
    }
}
@media only screen and (max-width: 1199px) {
    .header-wrap .header-top .header-top-left .contact-item p,
    .header-wrap .header-top .header-top-left .contact-item a {
        font-size: 16px;
        font-weight: 400;
    }
    .header-wrap {
        &.sticky{
            .mobile-menu {
                margin-right: 0;
            }
        }
        
        .header-bottom{
            .searchbtn {
                background-color: transparent;
                border: none;
                padding: 0;
                margin: 0 22px;
                i {
                    font-size: 20px;
                    line-height: 0.8;
                    position: relative;
                    top: -1px;
                }
            }
        }
        .search-area {
            .close-searchbox{
                top: 0;
                right: 0;
            }
            .form-group {
                input {
                    font-size: 14px;
                    padding: 15px;
                }
            }
        }
        &.style1{
            .header-bottom {
                .navbar {
                    .navbar-nav {
                        .nav-item {
                            .dropdown-menu {
                                li {
                                    a {
                                        color: $clr_rock;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .searchbtn {
                i {
                    color: $clr_persian;
                }
            }
            .mobile-menu {
                a{
                    background: $clr_persian;
                    i{
                        color: $clr_white;
                    }
                }
            }
        }
        &.style2{
            .header-bottom {
                .navbar {
                    .navbar-nav {
                        .nav-item {
                            a{
                                color: $clr_rock;
                            }
                            .dropdown-menu {
                                li {
                                    a {
                                        color: $clr_rock;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .mobile-menu {
                a{
                    background: $clr_white;
                    i{
                        color: $clr_rock;
                    }
                }
            }
            .searchbtn {
                i {
                    color: $clr_white;
                }
            }
            .mobile-sidebar{
                i {
                    color: $clr_white;
                }
            }
        }
        .header-bottom{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .container{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
            .navbar{
                .navbar-collapse{
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    -ms-grid-row-align: flex-start;
                    align-items: flex-start;
                }
                .navbar-nav{
                    width: 100%;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    .nav-item{
                        position: relative;
                        .menu-expand {
                            position: absolute;
                            right: 0;
                            top: 14px;
                            cursor: pointer;
                            i {
                                color: $clr_black;
                                font-size: 18px;
                                line-height: 1;
                                position: relative;
                                top: 7px;
                            }
                        }
                        a{
                            border-bottom: 1px solid $clr_athens;
                            padding-top:15px;
                            padding-bottom:12px;
                            color: $clr_black;
                            i{
                                display: none;
                            }
                            &.active{
                                color: $clr_persian;
                            }
                            &.btn{
                                &.style1{
                                    margin-top: 15px;
                                    color: $clr_white;
                                    padding: 12px 15px 14px;
                                    display: block;
                                    width: 100%;
                                    margin-top: 20px;
                                    &:hover{
                                        background-color: transparent;
                                        color: $clr_white;
                                    }
                                }
                            }
                        }
                        .dropdown-menu{
                            width: 100%;
                            background-color: $clr_white;
                            border: none;
                            padding:0 ;
                            li{
                                a{
                                    font-size: 14px;
                                    padding-left: 10px;
                                    margin-left: 10px;
                                    &.active{
                                        color: $clr_stratos;
                                    }
                                }
                            }
                            .nav-item{
                                .dropdown-menu{
                                    margin-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mobile-bar-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: right;
        position: relative;
        top: 4px;
    }
    .menu-close {
        position: absolute;
        top: 13px;
        right: 16px;

        i {
            color: $clr_black;
            font-size: 25px;
        }
    }
    .mobile-menu {
        text-align: right;
        a {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            background-color: $clr_stratos;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
                -ms-flex-direction:column;
                    flex-direction:column;
            -webkit-box-pack:center;
                -ms-flex-pack:center;
                    justify-content:center;
            -webkit-box-align:center;
                -ms-flex-align:center;
                    align-items:center;
            i {
                font-size: 22px;
                color: $clr_white;
                margin: 0 auto;
            }
        }
    }
    .mobile-menu {
        display: inline-block;
        position: relative;
        top: -4px;
    }
    .mobile-top-bar {
        display: inline-block;
        margin-right: 6px;
        cursor: pointer;
        position: relative;
        top: 0px;
        span {
            display: block;
            width: 20px;
            height: 2px;
            background-color: $clr_black;
            border-radius: 20px;
            margin: 5.9px 0;
            &:nth-child(1) {
                margin-top: 0;
            }
            &:nth-child(2) {
                width: 12px;
                margin-left: 8px;
            }
        }
    }
    .close-header-top {
        button {
            position: absolute;
            top: 15px;
            right: 20px;
            z-index: 999;
            background: transparent;
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 0;

            i {
                color: $clr_black;
                font-size: 26px;
            }
        }
    }
    .main-menu-wrap {
        width: 100%;
        position: fixed;
        background: $clr_white;
        z-index: 999;
        top: 0;
        height: 100vh;
        transition: 0.5s;
        left: -100%;
        padding: 55px 20px 30px;
        overflow-y: auto;
        @include transition(0.4s);

        &.open {
            left: 0;
        }
    }
    .main-menu {
        & > li {
            &.has-children {
                &.menu-open {
                    & > span.menu-expand {
                        transform: rotate(180deg);

                        i {
                            color: $clr_black;
                        }
                    }
                }
            }
            & > ul {
                & > li {
                    &.has-children {
                        &.menu-open {
                            & > span.menu-expand {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
        li {
            position: relative;
            &:last-child {
                margin: 0;
            }
            & > span {
                &.menu-expand {
                    position: absolute;
                    right: 0;
                    top: 13px;
                    cursor: pointer;
                    i {
                        color: $clr_black;
                        font-size: 18px;
                    }
                    &:hover {
                        color: $clr_black;
                    }
                }
            }

            a {
                &.active {
                    color: $clr_black;
                }
            }
            & > a {
                font-size: 14px;
                font-weight: 400;
                color: $clr_black;
                text-transform: capitalize;
                display: block;
                padding: 12px 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);

                &:hover {
                    color: $clr_black;
                }
            }

            & > ul.sub-menu {
                padding-left: 20px;
            }
        }
    }
    .header-wrap .header-bottom .main-menu-wrap #menu > ul > li > a::after {
        display: none;
    }
    .main-menu li a.active {
        font-weight: 600;
        color: $clr_black;
        border-color: rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (min-width: 1200px) {
    .menu-expand i {
        display: none;
    }
    .header-wrap{
        .navbar{
            padding: 0;
            .navbar-brand{
                padding: 0 20px 0 0;
            }
            ul {
                padding-left: 0;
                list-style-type: none;
                margin-bottom: 0;
            }
            .navbar-nav{
                margin-left: auto;
                position: relative;
                >.nav-item{
                    position: relative;
                    top: 3px;
                    >a{
                        &:after{
                            position: absolute;
                            bottom: 30px;
                            left: 0;
                            content: "";
                            width: 0;
                            height: 2px;
                            visibility: hidden;
                            opacity: 0;
                            @include transition(0.4s);
                        }
                    }
                }
                .nav-item{
                    position: relative;
                    top: 0px;
                    margin: 0 10px;
                    &.has-dropdown{
                        position: relative;
                        top: -1px;
                    }
                    &.first-child{
                        margin-left: 0;
                    }
                    a{
                        font-weight: 500;
                        padding: 30px 0;
                        @include transition(0.4s);
                        position: relative;
                        &:hover,
                        &:focus,
                        &.active{
                            color: $clr_stratos;
                            &:after{
                                visibility: visible;
                                opacity: 1;
                                width: 18px;
                            }
                        }
                        i {
                            font-size: 18px;
                            line-height: 1;
                            position: relative;
                            top: 3px;
                            display: inline-block;
                            margin-left: -3px;
                            @include transition(0.4s);
                        }
                        &:hover{
                            i{
                                @include transform(rotate(180deg));
                            }
                        }
                    }
                    .dropdown-menu {
                        display: block!important;
                        border: none;
                        top: 95px;
                        left: -23px;
                        z-index: 99;
                        opacity: 0;
                        width: 265px;
                        padding: 0;
                        display: block;
                        border-radius: 0 0 5px 5px;
                        position: absolute;
                        visibility: hidden;
                        background: $clr_albastor;
                        -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
                        box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
                        @include transition(0.5s);
                        li {
                            margin: 0 20px;
                            &:last-child{
                                a{
                                    border-bottom: none;
                                }
                            }
                            a{
                                padding: 18px 0 12px;
                                position: relative;
                                display: block;
                                font-size: 16px;
                                font-weight: 500;
                                color: $clr_emperor;
                                @include transition(0.3s);
                                border-bottom: 1px solid rgba(0, 169, 164,0.09);
                                &::before{
                                    position: absolute;
                                    top: 26px;
                                    left: 0px;
                                    content: "";
                                    width: 15px;
                                    height: 2px;
                                    background-color: $clr_persian;
                                    visibility: hidden;
                                    opacity: 0;
                                    @include transition(0.4s);
                                }
                                &.active,
                                &:hover{
                                    color: $clr_persian;
                                    padding-left: 22px;
                                    &:before{
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                                &:hover,
                                &:focus,
                                &.active{
                                    width: 100%;
                                    right: auto;
                                    left: 0;
                                }
                                 i {
                                    margin: 0;
                                    position: absolute;
                                    top: 55%;
                                    font-size: 16px;
                                    line-height: 1;
                                    @include  transform(translateY(-50%)); 
                                    right: 0;
                                }
                            }
                            .dropdown-menu{
                                top: 0;
                                opacity: 0;
                                left: -275px;
                                right: auto;
                                visibility: hidden;
                            }
                            &:hover{
                                .dropdown-menu {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    &:hover{
                        .dropdown-menu {
                            top: 85px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            .others-options{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align:center;
                -ms-flex-align:center;
                align-items:center;
            }
        }
        &.style1{
            .header-bottom{
                .navbar-nav{
                    >.nav-item{
                        >a{
                            &:after{
                                background-color: $clr_white;
                            }
                        }
                    }
                    .nav-item{
                        .dropdown-menu{
                            li{
                                a{
                                    &.active{
                                        color: $clr_persian;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.style2{
            .header-bottom{
                .navbar-nav{
                    >.nav-item{
                        >a{
                            &:after{
                                background-color: $clr_persian;
                            }
                        }
                    }
                    .nav-item{
                        a{
                            color:$clr_white;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .header-wrap{
        .navbar {
            .navbar-nav {
                .nav-item {
                    margin: 0 15px;
                    a{
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1600px) {
    .header-wrap {
        &.style1,
        &.style2{
            .container{
                max-width: 1520px;
            }
        }
    }
}