.search-area, .header-wrap .header-top .header-top-right, .select-lang .navbar-language .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search-area {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-wrap .header-top .header-top-right, .select-lang .navbar-language .dropdown-toggle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.header-wrap .header-top .header-top-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/*---------------------------------
        Header CSS 
-----------------------------------*/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  overflow-x: clip;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-wrap.sticky {
  position: fixed;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #fff;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  width: 100%;
  top: -48px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.header-wrap.sticky.style2 .header-bottom {
  background-color: #030734;
  border-color: transparent;
}

.header-wrap .header-top {
  padding: 10px 0 13px;
  background-color: #030734;
}

.header-wrap .header-top .header-top-left .contact-info li {
  display: inline-block;
  margin-right: 25px;
}

.header-wrap .header-top .header-top-left .contact-info li:last-child {
  margin-right: 0;
}

.header-wrap .header-top .header-top-left .contact-info li i {
  font-size: 14px;
  line-height: 0.8;
  color: #00A9A4;
  position: relative;
  top: 2px;
  margin-right: 6px;
}

.header-wrap .header-top .header-top-left .contact-info li a, .header-wrap .header-top .header-top-left .contact-info li p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
}

.header-wrap .header-top .header-top-left .contact-info li a:hover, .header-wrap .header-top .header-top-left .contact-info li p:hover {
  color: #fff;
}

.header-wrap .header-top .header-top-right .header-top-menu li {
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
  position: relative;
}

.header-wrap .header-top .header-top-right .header-top-menu li:first-child {
  padding-left: 0;
  margin-left: 0;
}

.header-wrap .header-top .header-top-right .header-top-menu li:before {
  position: absolute;
  top: 9px;
  right: 0;
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  width: 1px;
  height: 12px;
}

.header-wrap .header-top .header-top-right .header-top-menu li a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.header-wrap .header-top .header-top-right .select-lang span {
  color: rgba(255, 255, 255, 0.8);
}

.header-wrap .header-bottom .searchbox {
  position: relative;
  margin-left: 25px;
  margin-right: 30px;
}

.header-wrap .header-bottom .searchbox input {
  width: 100%;
  border: none;
  padding: 5px 10px 5px 0;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  background-color: transparent;
}

.header-wrap .header-bottom .searchbox button {
  position: absolute;
  top: 6px;
  right: 0;
  background-color: transparent;
  width: auto;
  height: auto;
  border: none;
}

.header-wrap .header-bottom .searchbox button i {
  color: #00A9A4;
}

.header-wrap.style1 .header-bottom {
  background: #fff;
}

.header-wrap.style1 .header-bottom .navbar .navbar-nav .nav-item a {
  color: #030734;
}

.header-wrap.style1 .header-bottom .navbar .navbar-nav .nav-item a.active, .header-wrap.style1 .header-bottom .navbar .navbar-nav .nav-item a:hover {
  color: #00A9A4;
}

.header-wrap.style1 .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: #666666;
}

.header-wrap.style1 .header-bottom .navbar .navbar-nav > .nav-item > a:after {
  background: #00A9A4;
}

.header-wrap.style2 .header-bottom {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.header-wrap.style2 .header-bottom .searchbox input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: #fff;
}

.header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item a {
  color: #fff;
}

.header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item a.active, .header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item a:hover {
  color: #00A9A4;
}

.header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: #666666;
}

.header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a.active, .header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
  color: #00A9A4;
}

.header-wrap.style2 .header-bottom .navbar .navbar-nav > .nav-item > a:after {
  background: #00A9A4;
}

.search-area {
  position: fixed;
  top: 0;
  left: 50%;
  width: 0%;
  height: 100vh;
  visibility: hidden;
  background: rgba(0, 169, 164, 0.8);
  opacity: 0;
  z-index: 990;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-area.open {
  width: calc(100% + 1px);
  visibility: visible;
  opacity: 1;
}

.search-area .close-searchbox {
  position: absolute;
  top: 15px;
  right: 10px;
  background: transparent;
  border: none;
}

.search-area .close-searchbox i {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
}

.search-area form {
  width: 100%;
}

.search-area .form-group {
  width: 100%;
}

.search-area .form-group input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  padding: 20px;
  color: #fff;
}

.search-area .form-group input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.search-area .form-group input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.search-area .form-group input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.search-area .form-group input::placeholder {
  color: #fff;
  opacity: 1;
}

.select-lang {
  padding-left: 18px;
  position: relative;
  top: 1px;
}

.select-lang i {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 15px;
  line-height: 1;
  color: #00A9A4;
}

.select-lang .navbar-language .dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #666666;
  font-size: 14px;
  padding-right: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.select-lang .navbar-language .dropdown-toggle:after {
  display: none;
}

.select-lang .navbar-language .dropdown-toggle:before {
  position: absolute;
  top: 5px;
  right: -3px;
  content: "\EA4E";
  font-family: "remixicon";
  border: 0;
  font-size: 18px;
  line-height: 0.8;
  color: rgba(255, 255, 255, 0.8);
}

.select-lang .navbar-language .dropdown-menu {
  margin: 0;
  padding: 5px 0;
  -webkit-box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
  box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
  left: auto;
  right: 0;
  inset: 0px 0 auto auto !important;
  border: none;
  border-radius: 0;
  -webkit-transform: translateY(75px) !important;
  transform: translateY(75px) !important;
  display: block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.select-lang .navbar-language .dropdown-menu a {
  padding: 5px 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
}

.select-lang .navbar-language .dropdown-menu a img {
  width: 20px;
  margin-right: 10px;
}

.select-lang .navbar-language .dropdown-menu.show {
  -webkit-transform: translateY(40px) !important;
  transform: translateY(40px) !important;
  opacity: 1;
  pointer-events: all;
}

@media only screen and (max-width: 767px) {
  .navbar-brand img {
    max-width: 120px;
  }
  .header-wrap.sticky {
    top: 0;
  }
  .header-wrap.style1 .header-top {
    background-color: #f9f9f9;
  }
  .header-wrap.style1 .header-top .close-sidebar i {
    color: #030734;
  }
  .header-wrap.style1 .header-top .header-top-left .contact-info li a, .header-wrap.style1 .header-top .header-top-left .contact-info li p {
    color: #030734;
  }
  .header-wrap.style1 .header-top .header-top-right .header-top-menu li:before {
    background-color: #030734;
  }
  .header-wrap.style1 .header-top .header-top-right .header-top-menu li a {
    color: #030734;
  }
  .header-wrap.style1 .header-top .header-top-right .select-lang span {
    color: #030734;
  }
  .header-wrap.style1 .header-top .header-top-right .select-lang .navbar-language .dropdown-toggle:before {
    color: #030734;
  }
  .header-wrap.style1 .header-top .header-top-right .select-lang .navbar-language .dropdown-menu {
    inset: 0px auto auto 0 !important;
  }
  .header-wrap .header-top {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 40px 10px 10px;
    background: #fff;
    z-index: 1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-wrap .header-top.open {
    left: 0;
  }
  .header-wrap .header-top .close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .header-wrap .header-top .close-sidebar i {
    color: #fff;
    font-size: 24px;
  }
  .header-wrap .header-top .header-top-left {
    text-align: left;
    margin-bottom: 15px;
  }
  .header-wrap .header-top .header-top-left .contact-info li {
    display: block;
    margin: 0 0 10px 0;
  }
  .header-wrap .header-top .header-top-left .contact-info li:last-child {
    margin-bottom: 0;
  }
  .header-wrap .header-top .header-top-left .contact-info li a, .header-wrap .header-top .header-top-left .contact-info li p {
    color: #030734;
  }
  .header-wrap .header-top .header-top-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-wrap .header-top .header-top-right .header-top-menu {
    width: 100%;
  }
  .header-wrap .header-top .header-top-right .header-top-menu li:last-child:before {
    display: none;
  }
  .header-wrap .header-top .header-top-right .header-top-menu li a {
    color: #030734;
  }
  .header-wrap .header-top .header-top-right .select-lang {
    color: #030734;
    margin-left: 0;
    margin-top: 20px;
  }
  .header-wrap .header-top .header-top-right .select-lang .navbar-language .dropdown-menu {
    inset: 0px auto auto 0 !important;
  }
  .header-wrap .mobile-sidebar {
    position: relative;
    top: -3px;
    display: inline-block;
    line-height: 1;
    cursor: pointer;
  }
  .header-wrap .mobile-sidebar i {
    font-size: 24px;
    color: #00A9A4;
  }
}

@media only screen and (min-width: 768px) {
  .close-sidebar,
  .mobile-sidebar {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-wrap.sticky {
    top: -87px;
  }
  .header-wrap .header-top .header-top-left {
    text-align: center;
    margin-bottom: 15px;
  }
  .header-wrap .header-top .header-top-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-wrap .header-top .header-top-left,
  .header-wrap .header-top .header-top-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu {
    height: 100vh;
  }
}

@media only screen and (max-width: 1199px) {
  .header-wrap .header-top .header-top-left .contact-item p,
  .header-wrap .header-top .header-top-left .contact-item a {
    font-size: 16px;
    font-weight: 400;
  }
  .header-wrap.sticky .mobile-menu {
    margin-right: 0;
  }
  .header-wrap .header-bottom .searchbtn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 22px;
  }
  .header-wrap .header-bottom .searchbtn i {
    font-size: 20px;
    line-height: 0.8;
    position: relative;
    top: -1px;
  }
  .header-wrap .search-area .close-searchbox {
    top: 0;
    right: 0;
  }
  .header-wrap .search-area .form-group input {
    font-size: 14px;
    padding: 15px;
  }
  .header-wrap.style1 .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a {
    color: #030734;
  }
  .header-wrap.style1 .searchbtn i {
    color: #00A9A4;
  }
  .header-wrap.style1 .mobile-menu a {
    background: #00A9A4;
  }
  .header-wrap.style1 .mobile-menu a i {
    color: #fff;
  }
  .header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item a {
    color: #030734;
  }
  .header-wrap.style2 .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a {
    color: #030734;
  }
  .header-wrap.style2 .mobile-menu a {
    background: #fff;
  }
  .header-wrap.style2 .mobile-menu a i {
    color: #030734;
  }
  .header-wrap.style2 .searchbtn i {
    color: #fff;
  }
  .header-wrap.style2 .mobile-sidebar i {
    color: #fff;
  }
  .header-wrap .header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-wrap .header-bottom .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-wrap .header-bottom .navbar .navbar-collapse {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }
  .header-wrap .header-bottom .navbar .navbar-nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .menu-expand {
    position: absolute;
    right: 0;
    top: 14px;
    cursor: pointer;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .menu-expand i {
    color: #000;
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 7px;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item a {
    border-bottom: 1px solid #F3F4F6;
    padding-top: 15px;
    padding-bottom: 12px;
    color: #000;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item a i {
    display: none;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item a.active {
    color: #00A9A4;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item a.btn.style1 {
    margin-top: 15px;
    color: #fff;
    padding: 12px 15px 14px;
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item a.btn.style1:hover {
    background-color: transparent;
    color: #fff;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 0;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 10px;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #010647;
  }
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu {
    margin-left: 20px;
  }
  .mobile-bar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    position: relative;
    top: 4px;
  }
  .menu-close {
    position: absolute;
    top: 13px;
    right: 16px;
  }
  .menu-close i {
    color: #000;
    font-size: 25px;
  }
  .mobile-menu {
    text-align: right;
  }
  .mobile-menu a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    background-color: #010647;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile-menu a i {
    font-size: 22px;
    color: #fff;
    margin: 0 auto;
  }
  .mobile-menu {
    display: inline-block;
    position: relative;
    top: -4px;
  }
  .mobile-top-bar {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    position: relative;
    top: 0px;
  }
  .mobile-top-bar span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 20px;
    margin: 5.9px 0;
  }
  .mobile-top-bar span:nth-child(1) {
    margin-top: 0;
  }
  .mobile-top-bar span:nth-child(2) {
    width: 12px;
    margin-left: 8px;
  }
  .close-header-top button {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 999;
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
  }
  .close-header-top button i {
    color: #000;
    font-size: 26px;
  }
  .main-menu-wrap {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
    height: 100vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: -100%;
    padding: 55px 20px 30px;
    overflow-y: auto;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-menu-wrap.open {
    left: 0;
  }
  .main-menu > li.has-children.menu-open > span.menu-expand {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .main-menu > li.has-children.menu-open > span.menu-expand i {
    color: #000;
  }
  .main-menu > li > ul > li.has-children.menu-open > span.menu-expand {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .main-menu li {
    position: relative;
  }
  .main-menu li:last-child {
    margin: 0;
  }
  .main-menu li > span.menu-expand {
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
  }
  .main-menu li > span.menu-expand i {
    color: #000;
    font-size: 18px;
  }
  .main-menu li > span.menu-expand:hover {
    color: #000;
  }
  .main-menu li a.active {
    color: #000;
  }
  .main-menu li > a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .main-menu li > a:hover {
    color: #000;
  }
  .main-menu li > ul.sub-menu {
    padding-left: 20px;
  }
  .header-wrap .header-bottom .main-menu-wrap #menu > ul > li > a::after {
    display: none;
  }
  .main-menu li a.active {
    font-weight: 600;
    color: #000;
    border-color: rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (min-width: 1200px) {
  .menu-expand i {
    display: none;
  }
  .header-wrap .navbar {
    padding: 0;
  }
  .header-wrap .navbar .navbar-brand {
    padding: 0 20px 0 0;
  }
  .header-wrap .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
  }
  .header-wrap .navbar .navbar-nav {
    margin-left: auto;
    position: relative;
  }
  .header-wrap .navbar .navbar-nav > .nav-item {
    position: relative;
    top: 3px;
  }
  .header-wrap .navbar .navbar-nav > .nav-item > a:after {
    position: absolute;
    bottom: 30px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    position: relative;
    top: 0px;
    margin: 0 10px;
  }
  .header-wrap .navbar .navbar-nav .nav-item.has-dropdown {
    position: relative;
    top: -1px;
  }
  .header-wrap .navbar .navbar-nav .nav-item.first-child {
    margin-left: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    font-weight: 500;
    padding: 30px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: relative;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover, .header-wrap .navbar .navbar-nav .nav-item a:focus, .header-wrap .navbar .navbar-nav .nav-item a.active {
    color: #010647;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover:after, .header-wrap .navbar .navbar-nav .nav-item a:focus:after, .header-wrap .navbar .navbar-nav .nav-item a.active:after {
    visibility: visible;
    opacity: 1;
    width: 18px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a i {
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-left: -3px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    display: block !important;
    border: none;
    top: 95px;
    left: -23px;
    z-index: 99;
    opacity: 0;
    width: 265px;
    padding: 0;
    display: block;
    border-radius: 0 0 5px 5px;
    position: absolute;
    visibility: hidden;
    background: #f9f9f9;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li {
    margin: 0 20px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li:last-child a {
    border-bottom: none;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a {
    padding: 18px 0 12px;
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid rgba(0, 169, 164, 0.09);
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a::before {
    position: absolute;
    top: 26px;
    left: 0px;
    content: "";
    width: 15px;
    height: 2px;
    background-color: #00A9A4;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
    color: #00A9A4;
    padding-left: 22px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active:before, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover:before {
    visibility: visible;
    opacity: 1;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    width: 100%;
    right: auto;
    left: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a i {
    margin: 0;
    position: absolute;
    top: 55%;
    font-size: 16px;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: -275px;
    right: auto;
    visibility: hidden;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  .header-wrap .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    top: 85px;
    opacity: 1;
    visibility: visible;
  }
  .header-wrap .navbar .others-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-wrap.style1 .header-bottom .navbar-nav > .nav-item > a:after {
    background-color: #fff;
  }
  .header-wrap.style1 .header-bottom .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #00A9A4;
  }
  .header-wrap.style2 .header-bottom .navbar-nav > .nav-item > a:after {
    background-color: #00A9A4;
  }
  .header-wrap.style2 .header-bottom .navbar-nav .nav-item a {
    color: #fff;
  }
}

@media only screen and (min-width: 1400px) {
  .header-wrap .navbar .navbar-nav .nav-item {
    margin: 0 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1600px) {
  .header-wrap.style1 .container, .header-wrap.style2 .container {
    max-width: 1520px;
  }
}
/*# sourceMappingURL=header.css.map */